<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event</title>

    <link rel="stylesheet" href="../style/tailwindcss.css">
</head>
<body>
    <div class="container m-auto">

        
        <nav class="flex justify-between items-center sticky top-0 md:pt-5 pt-2 pb-2 bg-white from-white to-transparent">
            <div class="w-2/12">
                <a href="" class="flex gap-3 items-center">
                    <img src="../images/app_icone.png" class="w-10" alt="logo">
                    <span class="lg:inline hidden text-2xl font-medium text-gray-500">Niwapi</span>
                </a>
            </div>

            <div class="w-10/12">
                <div class="flex items-center justify-between gap-4">
                    <div class="w-10/12 m-auto relative">
                        <svg class="absolute w-4 left-5 top-4 bottom-0 text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>

                        <button class="absolute right-5 top-0 bottom-0">
                            <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
                            </svg>
                        </button>
                        <input class="px-14 py-3 w-full rounded-full border-2 border-white bg-gray-200 focus:outline-none focus:border-blue-300" type="search" placeholder="Qu'est voulez-vous suivre ?" name="search" id="search">
                    </div>

                    <img src="../images/avatar.jpg" alt="" class="w-11 h-11 border-2 border-white object-cover rounded-full hover:border-blue-200 transition-all duration-300">
                </div>
            </div>
        </nav>

        <div class="lg:flex items-start gap-16 mt-8">
            <div class="w-2/12 sticky top-56 lg:block hidden">
                <h2 class="text-sm font-thin uppercase text-gray-400 tracking-widest">Découvrir</h2>
                <ul class="-ml-4 mt-8 space-y-3 text-gray-600">
                    <li class="cursor-pointer flex gap-4 items-center py-2 px-4 bg-gray-100 bg-opacity-0 hover:bg-opacity-100 rounded transition-all duration-200">
                        <img src="../images/icons/family-chat.svg" class="w-6" alt="">
                        Home
                    </li>
                    <li class="cursor-pointer flex gap-4 items-center py-2 px-4 bg-gray-100 bg-opacity-0 hover:bg-opacity-100 rounded transition-all duration-200">
                        <img src="../images/icons/categories.svg" class="w-6" alt="">
                        Categories
                    </li>
                    <li class="cursor-pointer flex gap-4 items-center py-2 px-4 bg-gray-100 bg-opacity-0 hover:bg-opacity-100 rounded transition-all duration-200">
                        <img src="../images/icons/bell.svg" class="w-6" alt="">
                        Annonce
                    </li>
                    <li class="cursor-pointer flex gap-4 items-center py-2 px-4 bg-gray-100 bg-opacity-0 hover:bg-opacity-100 rounded transition-all duration-200">
                        <img src="../images/icons/promotions.svg" class="w-6" alt="">
                        Promotion
                    </li>
                    <li class="cursor-pointer flex gap-4 items-center py-2 px-4 bg-gray-100 bg-opaity-0 hover:bg-opacity-100 rounded transition-all duration-200">
                        <img src="../images/icons/event.svg" class="w-6" alt="">
                        Evénements
                    </li>
                    <li class="cursor-pointer flex gap-4 items-center py-2 px-4 bg-gray-100 bg-opacity-0 hover:bg-opacity-100 rounded transition-all duration-200">
                        <img src="../images/icons/favorites.svg" class="w-6" alt="">
                        Favoris
                    </li>
                </ul>
            </div>

            <div class="lg:w-10/12 ml-auto">
                <div class="p-8 pb-20 bg-gray-100 h-5/6 rounded-lg bg-cover bg-no-repeat" style="background:url(../images/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg)">
                    <h2 class="text-2xl text-white">Event title heading</h2>
                    <p class="text-gray-300 mt-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore natus, expedita libero atque doloribus autem deserunt incidunt maiores sed reiciendis fugit, aut consequuntur porro consequatur. Soluta ab necessitatibus veniam repudiandae.</p>
                </div>

                <div class="mt-8">
                    <h2 class="text-2xl text-gray-800">Evénements</h2>
                    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-4 mt-4">
                        <div class="shadow-md rounded-lg flex items-center">
                            <div class="w-4/6 p-4">
                                <h3 class="text-lg text-gray-700">Event title</h3>
                                <div class="space-y-2 mt-4">
                                    <div class="flex gap-4 items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fill-current text-blue-200" viewBox="0 0 16 16">
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                        </svg>
                                        <p class="text-sm text-gray-500">Date et heure</p>
                                    </div>

                                    <div class="flex gap-4 items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fill-current text-green-200" viewBox="0 0 16 16">
                                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                        </svg>
                                        <p class="text-sm text-gray-500">Lieu</p>
                                    </div>
                                </div>
                            </div>

                            <div class="w-2/6 ml-auto">
                                <img src="../images/diego-ph-fIq0tET6llw-unsplash.jpg" class="rounded-r-lg" alt="">
                            </div>
                        </div>
                        <div class="shadow-md rounded-lg flex items-center">
                            <div class="w-4/6 p-4">
                                <h3 class="text-lg text-gray-700">Event title</h3>
                                <div class="space-y-2 mt-4">
                                    <div class="flex gap-4 items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fill-current text-blue-200" viewBox="0 0 16 16">
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                        </svg>
                                        <p class="text-sm text-gray-500">Date et heure</p>
                                    </div>

                                    <div class="flex gap-4 items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fill-current text-green-200" viewBox="0 0 16 16">
                                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                        </svg>
                                        <p class="text-sm text-gray-500">Lieu</p>
                                    </div>
                                </div>
                            </div>

                            <div class="w-2/6 ml-auto">
                                <img src="../images/diego-ph-fIq0tET6llw-unsplash.jpg" class="rounded-r-lg" alt="">
                            </div>
                        </div>
                        <div class="shadow-md rounded-lg flex items-center">
                            <div class="w-4/6 p-4">
                                <h3 class="text-lg text-gray-700">Event title</h3>
                                <div class="space-y-2 mt-4">
                                    <div class="flex gap-4 items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fill-current text-blue-200" viewBox="0 0 16 16">
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                        </svg>
                                        <p class="text-sm text-gray-500">Date et heure</p>
                                    </div>

                                    <div class="flex gap-4 items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fill-current text-green-200" viewBox="0 0 16 16">
                                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                        </svg>
                                        <p class="text-sm text-gray-500">Lieu</p>
                                    </div>
                                </div>
                            </div>

                            <div class="w-2/6 ml-auto">
                                <img src="../images/diego-ph-fIq0tET6llw-unsplash.jpg" class="rounded-r-lg" alt="">
                            </div>
                        </div>
                        <div class="shadow-md rounded-lg flex items-center">
                            <div class="w-4/6 p-4">
                                <h3 class="text-lg text-gray-700">Event title</h3>
                                <div class="space-y-2 mt-4">
                                    <div class="flex gap-4 items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fill-current text-blue-200" viewBox="0 0 16 16">
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                        </svg>
                                        <p class="text-sm text-gray-500">Date et heure</p>
                                    </div>

                                    <div class="flex gap-4 items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fill-current text-green-200" viewBox="0 0 16 16">
                                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                        </svg>
                                        <p class="text-sm text-gray-500">Lieu</p>
                                    </div>
                                </div>
                            </div>

                            <div class="w-2/6 ml-auto">
                                <img src="../images/diego-ph-fIq0tET6llw-unsplash.jpg" class="rounded-r-lg" alt="">
                            </div>
                        </div>
                        <div class="shadow-md rounded-lg flex items-center">
                            <div class="w-4/6 p-4">
                                <h3 class="text-lg text-gray-700">Event title</h3>
                                <div class="space-y-2 mt-4">
                                    <div class="flex gap-4 items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fill-current text-blue-200" viewBox="0 0 16 16">
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                        </svg>
                                        <p class="text-sm text-gray-500">Date et heure</p>
                                    </div>

                                    <div class="flex gap-4 items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fill-current text-green-200" viewBox="0 0 16 16">
                                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                        </svg>
                                        <p class="text-sm text-gray-500">Lieu</p>
                                    </div>
                                </div>
                            </div>

                            <div class="w-2/6 ml-auto">
                                <img src="../images/diego-ph-fIq0tET6llw-unsplash.jpg" class="rounded-r-lg" alt="">
                            </div>
                        </div>
                        <div class="shadow-md rounded-lg flex items-center">
                            <div class="w-4/6 p-4">
                                <h3 class="text-lg text-gray-700">Event title</h3>
                                <div class="space-y-2 mt-4">
                                    <div class="flex gap-4 items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fill-current text-blue-200" viewBox="0 0 16 16">
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                        </svg>
                                        <p class="text-sm text-gray-500">Date et heure</p>
                                    </div>

                                    <div class="flex gap-4 items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fill-current text-green-200" viewBox="0 0 16 16">
                                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                        </svg>
                                        <p class="text-sm text-gray-500">Lieu</p>
                                    </div>
                                </div>
                            </div>

                            <div class="w-2/6 ml-auto">
                                <img src="../images/diego-ph-fIq0tET6llw-unsplash.jpg" class="rounded-r-lg" alt="">
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>